WebContent/WEB-INF/smsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:SMSService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SMSService" targetNamespace="urn:SMSService">
  <types><xsd:schema targetNamespace="SMSService"/></types>
  <portType name="SMSServicePort">
    <operation name="send">
      <documentation>Send a simple SMS using IP based authentication</documentation>
      <input message="tns:sendRequest"/>
      <output message="tns:sendResponse"/>
    </operation>
    <operation name="SendSms">
      <documentation>Send a simple SMS using username and password authentication</documentation>
      <input message="tns:SendSmsRequest"/>
      <output message="tns:SendSmsResponse"/>
    </operation>
    <operation name="sendSmsAuthKey">
      <documentation>Send a SMS using API Key authentication</documentation>
      <input message="tns:sendSmsAuthKeyRequest"/>
      <output message="tns:sendSmsAuthKeyResponse"/>
    </operation>
    <operation name="sendWapPush">
      <documentation>Send an Wap Push using IP based authentication</documentation>
      <input message="tns:sendWapPushRequest"/>
      <output message="tns:sendWapPushResponse"/>
    </operation>
    <operation name="sendVCalendar">
      <documentation>Send an appoinment using IP based authentication</documentation>
      <input message="tns:sendVCalendarRequest"/>
      <output message="tns:sendVCalendarResponse"/>
    </operation>
    <operation name="sendVCard">
      <documentation>Send a VCARD using IP based authentication</documentation>
      <input message="tns:sendVCardRequest"/><output message="tns:sendVCardResponse"/>
    </operation>
    <operation name="sendSmsFlash">
      <documentation>Send a SMS FLASH using IP based authentication</documentation>
      <input message="tns:sendSmsFlashRequest"/><output message="tns:sendSmsFlashResponse"/>
    </operation>
    <operation name="checkStatus">
      <documentation>Check delivery report status for a SMS</documentation>
      <input message="tns:checkStatusRequest"/>
      <output message="tns:checkStatusResponse"/>
    </operation>
    <operation name="openSession">
      <documentation>Opens a SMS sending session using username/password authentication</documentation>
      <input message="tns:openSessionRequest"/>
      <output message="tns:openSessionResponse"/>
    </operation>
    <operation name="closeSession">
      <documentation>Closes a SMS sending session previously openned with openSession method</documentation>
      <input message="tns:closeSessionRequest"/>
      <output message="tns:closeSessionResponse"/>
    </operation>
    <operation name="sendSession">
      <documentation>Send a simple SMS using session ID authentication (previously openned with openSession method)</documentation>
      <input message="tns:sendSessionRequest"/>
      <output message="tns:sendSessionResponse"/>
    </operation>
    <operation name="sendSessionWapPush">
      <documentation>Send an Wap Push using session ID authentication (previously openned with openSession method)</documentation>
      <input message="tns:sendSessionWapPushRequest"/>
      <output message="tns:sendSessionWapPushResponse"/>
    </operation>
    <operation name="sendSessionVCalendar">
      <documentation>Send an appoinment using session ID authentication (previously openned with openSession method)</documentation>
      <input message="tns:sendSessionVCalendarRequest"/>
      <output message="tns:sendSessionVCalendarResponse"/>
    </operation>
    <operation name="sendSessionVCard">
      <documentation>Send a VCARD using session ID authentication (previously openned with openSession method)</documentation>
      <input message="tns:sendSessionVCardRequest"/>
      <output message="tns:sendSessionVCardResponse"/>
    </operation>
    <operation name="sendSessionSmsFlash">
      <documentation>Send a SMS Flash using session ID authentication (previously openned with openSession method)</documentation>
      <input message="tns:sendSessionSmsFlashRequest"/>
      <output message="tns:sendSessionSmsFlashResponse"/>
    </operation>
    <operation name="showIp">
      <documentation>Returns the IP of the calling client</documentation>
      <input message="tns:showIpRequest"/>
      <output message="tns:showIpResponse"/>
    </operation>
  </portType>
  <binding name="SMSServiceBinding" type="tns:SMSServicePort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="send">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="SendSms">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="sendSmsAuthKey">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="sendWapPush">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="sendVCalendar">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="sendVCard">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="sendSmsFlash">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="checkStatus">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="openSession">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="closeSession">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="sendSession">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="sendSessionWapPush">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="sendSessionVCalendar">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="sendSessionVCard">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="sendSessionSmsFlash">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
    <operation name="showIp">
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://wsi.bizpack.ro/service.php"/>
      </output>
    </operation>
  </binding>
  <service name="SMSServiceService">
    <port name="SMSServicePort" binding="tns:SMSServiceBinding">
      <soap:address location="http://wsi.bizpack.ro/service.php"/>
    </port>
  </service>
  <message name="sendRequest">
    <part name="phone" type="xsd:string"/>
    <part name="message" type="xsd:string"/>
    <part name="date" type="xsd:dateTime"/>
    <part name="sender" type="xsd:string"/>
    <part name="validity" type="xsd:int"/>
  </message>
  <message name="sendResponse">
    <part name="id" type="xsd:string"/>
  </message>
  <message name="SendSmsRequest">
    <part name="username" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="source" type="xsd:string"/>
    <part name="destination" type="xsd:string"/>
    <part name="body" type="xsd:string"/>
    <part name="isUnicode" type="xsd:boolean"/>
    <part name="scheduleDate" type="xsd:dateTime"/>
    <part name="callbackUrl" type="xsd:string"/>
  </message>
  <message name="SendSmsResponse">
    <part name="id" type="xsd:string"/>
  </message>
  <message name="sendSmsAuthKeyRequest">
    <part name="username" type="xsd:string"/>
    <part name="authKey" type="xsd:string"/>
    <part name="sender" type="xsd:string"/>
    <part name="recipient" type="xsd:string"/>
    <part name="message" type="xsd:string"/>
    <part name="scheduleDate" type="xsd:dateTime"/>
    <part name="validity" type="xsd:int"/>
    <part name="callbackUrl" type="xsd:string"/>
  </message>
  <message name="sendSmsAuthKeyResponse">
    <part name="id" type="xsd:string"/>
  </message>
  <message name="sendWapPushRequest">
    <part name="phone" type="xsd:string"/>
    <part name="url" type="xsd:string"/>
    <part name="message" type="xsd:string"/>
    <part name="date" type="xsd:dateTime"/>
    <part name="sender" type="xsd:string"/>
    <part name="validity" type="xsd:int"/>
  </message>
  <message name="sendWapPushResponse">
    <part name="id" type="xsd:string"/>
  </message>
  <message name="sendVCalendarRequest">
    <part name="recipient" type="xsd:string"/>
    <part name="subject" type="xsd:string"/>
    <part name="location" type="xsd:string"/>
    <part name="description" type="xsd:string"/>
    <part name="startDatetime" type="xsd:dateTime"/>
    <part name="endDatetime" type="xsd:dateTime"/>
    <part name="alarmDatetime" type="xsd:dateTime"/>
    <part name="sendDatetime" type="xsd:dateTime"/>
    <part name="sender" type="xsd:string"/>
    <part name="validity" type="xsd:int"/>
  </message>
  <message name="sendVCalendarResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="sendVCardRequest">
    <part name="recipient" type="xsd:string"/>
    <part name="firstname" type="xsd:string"/>
    <part name="lastname" type="xsd:string"/>
    <part name="mobilephone" type="xsd:string"/>
    <part name="email" type="xsd:string"/>
    <part name="organization" type="xsd:string"/>
    <part name="sendDatetime" type="xsd:dateTime"/>
    <part name="sender" type="xsd:string"/>
    <part name="validity" type="xsd:int"/>
  </message>
  <message name="sendVCardResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="sendSmsFlashRequest">
    <part name="phone" type="xsd:string"/>
    <part name="message" type="xsd:string"/>
    <part name="date" type="xsd:dateTime"/>
    <part name="sender" type="xsd:string"/>
    <part name="validity" type="xsd:int"/>
  </message>
  <message name="sendSmsFlashResponse">
    <part name="id" type="xsd:string"/>
  </message>
  <message name="checkStatusRequest">
    <part name="messageId" type="xsd:string"/>
  </message>
  <message name="checkStatusResponse">
    <part name="status" type="xsd:string"/>
  </message>
  <message name="openSessionRequest">
    <part name="username" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
  </message>
  <message name="openSessionResponse">
    <part name="sessid" type="xsd:string"/>
  </message>
  <message name="closeSessionRequest">
    <part name="sessid" type="xsd:string"/>
  </message>
  <message name="closeSessionResponse">
    <part name="result" type="xsd:boolean"/>
  </message>
  <message name="sendSessionRequest">
    <part name="sessid" type="xsd:string"/>
    <part name="phone" type="xsd:string"/>
    <part name="message" type="xsd:string"/>
    <part name="date" type="xsd:dateTime"/>
    <part name="sender" type="xsd:string"/>
    <part name="validity" type="xsd:int"/>
  </message>
  <message name="sendSessionResponse">
    <part name="id" type="xsd:string"/>
  </message>
  <message name="sendSessionWapPushRequest">
    <part name="sessid" type="xsd:string"/>
    <part name="phone" type="xsd:string"/>
    <part name="url" type="xsd:string"/>
    <part name="message" type="xsd:string"/>
    <part name="date" type="xsd:dateTime"/>
    <part name="sender" type="xsd:string"/>
    <part name="validity" type="xsd:int"/>
  </message>
  <message name="sendSessionWapPushResponse">
    <part name="id" type="xsd:string"/>
  </message>
  <message name="sendSessionVCalendarRequest">
    <part name="sessid" type="xsd:string"/>
    <part name="recipient" type="xsd:string"/>
    <part name="subject" type="xsd:string"/>
    <part name="location" type="xsd:string"/>
    <part name="description" type="xsd:string"/>
    <part name="startDatetime" type="xsd:dateTime"/>
    <part name="endDatetime" type="xsd:dateTime"/>
    <part name="alarmDatetime" type="xsd:dateTime"/>
    <part name="sendDatetime" type="xsd:dateTime"/>
    <part name="sender" type="xsd:string"/>
    <part name="validity" type="xsd:int"/>
  </message>
  <message name="sendSessionVCalendarResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="sendSessionVCardRequest">
    <part name="sessid" type="xsd:string"/>
    <part name="recipient" type="xsd:string"/>
    <part name="firstname" type="xsd:string"/>
    <part name="lastname" type="xsd:string"/>
    <part name="mobilephone" type="xsd:string"/>
    <part name="email" type="xsd:string"/>
    <part name="organization" type="xsd:string"/>
    <part name="sendDatetime" type="xsd:dateTime"/>
    <part name="sender" type="xsd:string"/>
    <part name="validity" type="xsd:int"/>
  </message>
  <message name="sendSessionVCardResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="sendSessionSmsFlashRequest">
    <part name="sessid" type="xsd:string"/>
    <part name="phone" type="xsd:string"/>
    <part name="message" type="xsd:string"/>
    <part name="date" type="xsd:dateTime"/>
    <part name="sender" type="xsd:string"/>
    <part name="validity" type="xsd:int"/>
  </message>
  <message name="sendSessionSmsFlashResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="showIpRequest"/>
  <message name="showIpResponse">
    <part name="return" type="xsd:string"/>
  </message>
</definitions>